.homeSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homeTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.homeLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  a {
    text-decoration: none;
    transition: var(--transition);
  }
  a:hover {
    color: blueviolet;
    transform: translateX(10px);
  }
}

.homeLink {
  font-size: 1.5rem;
}

.themeButton {
  border-radius: 50%;
  border: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 15px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 20px;
  font-size: 1rem;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Back home button */
.backhomeContainer {
  position: fixed;
  top: 15px;
  left: 20px;
}

.backHomeBtn {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);

}

/* Counter App */
.counterContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;

  button {
    padding: 15px 25px;
    border-radius: 15px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    a {
      text-decoration: none;
      color: var(--text-color);
    }
  }
  button:active {
    transform: scale(0.95);
  }
}
.counterContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.counterMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  h1 {
    font-size: 5rem;
  }
}

/* Time App */
.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.quizContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.cardBtnsContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.cardBtn {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  color: var(--text-color);
  width: 100%;
  text-align: center;
}
.cardBtn:hover {
  background-color: blueviolet;
}
.cardBtn:active {
  transform: scale(0.95);
}

/* quiz */
.quizBtnsContainer {
  max-width: 100%;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.quizBtn {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  color: var(--text-color);
  width: 100%;
  text-align: center;
}
.quizBtn:hover {
  background-color: blueviolet;
}
.quizBtn:active {
  transform: scale(0.95);
}
